html,body {
	position: relative;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	height: 100%;
	width: 100%;
	font-family: 'Metropolis', sans-serif;
	font-weight: 300;
	font-size: 18px;
	-webkit-user-select: none;
}

.blueprint {
	display: none;
}

.pure-g [class*="pure-u"] {
	font-family: 'Metropolis', sans-serif;
	font-weight: 300;
}
::-webkit-scrollbar { 
	display: none; 
}
.body {
	position: relative;

	height: -webkit-calc(100% - 80px);
	-webkit-box-sizing:border-box;
}

/* UI Header */
.header {
	height: 80px;
	width: 100%;
	background-color: #9072E4;
	background-image: linear-gradient(#9072E4,#5D2DE3);
}
.logo {
	padding-left: 20px;
	padding-top: 14px;
	pointer-events: none;
}
.logo-container:hover {
	cursor: pointer;
}
.status-bar div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75%;
	margin-left: 5px;
	margin-right: 5px;
}
.status-bar i {
	margin-right: 10px;
	margin-left: 10px;
}
.status-bar-unsynced {
	color: #E0000B;
}
.status-bar-synced {
	color: #5D2DE3;
}
.status-bar {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 25px;
	cursor: default;
}
.status-bar-blockheight {
	color: #9E9E9E;
}

/* Header Buttons */
.header-button {
	float: right;
	display: none;
	padding: 30px;
	font-size: 16px;
	color: #AAAAAA;
}
.header-button:hover {
	color: #3807C1;
	cursor: pointer;
}

/* Sidebar */
#sidebar {
	position: relative;
	background-color: #2D5EE2;
	background-image: linear-gradient(#2D5EE2,#5D2DE3);
	width: 220px;
	z-index: 5;
	height: 100%;
	/* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.30); */
}
.button {
	display: flex;
	font-size: 16px;
	align-items: center;
	position: relative;
	height: 60px;

	transition: all .25s;
	-webkit-animation: fadein .4s;
	-webkit-box-sizing:border-box;

	color: #000000;
}
.button:hover {
	cursor: pointer;
	background-color: #5D2DE3;
	color: #FFFFFF;
}
.button:active {
	background-color: ;
}
.button.current {
	transition: all .25s;
	cursor: default;
	background-color: #5D2DE3;
	color: #FFFFFF;
}
.button.current .icon, .button:hover .icon {
	-webkit-filter: invert(100%);
}
@keyframes fadeout {
	from { opacity: default; }
	to   { opacity: 0; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: default; }
}
.button .icon {
	max-height: 30%;
	padding-left: 16px;
}
.button .text {
	padding: 4px;
	padding-left: 8px;
}

/* Mainbar */
#mainbar {
	transition: all .25s;
	-webkit-animation: ease-in fadein 1.4s;
	flex-grow: 1;
	height: 100%;
	background-color: #FFFFFF;
}
#mainbar.transition {
	transition: all .25s;
	opacity: 0;
}
.webview {
	position: absolute;
	height: 100%;
	min-width: calc(100% - 220px);
	right: 0;
	opacity: 0;
	z-index: -1;
}
.webview.current {
	opacity: 1;
	z-index: 0;
}

/* Tooltip Bubble */
#tooltip {
	display: inline-block;
	display: none;
	position: absolute;
	padding: 8px;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.75);
}
#tooltip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.75);
	border-width: 8px;
	margin-left: -8px;
}

/* Notifications */
.notification-container {
	position: fixed;
	right: 40px;
	bottom: 40px;
}
.notification {
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	margin-top: 20px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-transition: box-shadow 2s;
	transition: box-shadow 0.5s;
}
.notification .icon {
	display: inline-block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 48px;
	text-align: center;
	color: #5D2DE3;
	background-color: #f5f5f5;
	border-right: 1px solid #eeeeee;
}
.notification .content {
	display: inline-block;
	padding: 14px;
	vertical-align: top;
	width: 300px;
	height: 52px;
	font-size: 18px;
	color: #757575;
}
.notification.hoverable:hover {
	cursor: pointer;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}
.notification.type-error .icon, .notification.type-exit .icon {
	color: #E57373;
	background-color: #FFCDD2;
}
.notification.type-success .icon {
	color: #81C784;
	background-color: #C8E6C9;
}

/* Misc */
#errorlog {
	display: none;
	color: #000;
	font-size: 20px;
	resize: none;
	overflow: auto;
	width: 700px;
	height: 500px;
	border: none;
	outline: none;
	box-shadow: none;
}

.overlay {
	display: inline-flex;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;

	text-align: center;
	font-size: 35px;
	background-color: #fff;
	opacity: .5;
}
.centered {
	opacity: 1;
	color: #5D2DE3;
	margin: auto;
}
.centered p {
	margin: 0;
}
